body {
	padding: 20px;
	margin: 0 auto;
	background-color: #E2E2E2;
	max-width: 1024px;
	color: #595B66;
	font-family: 'Microsoft Yahei', sans-serif;
}
h1,h2,h3,h4 {
	color: #797979;
    // border-bottom: solid 1px #797979;
    padding: 5px 0;
}

.box {
	background-color: white;
	margin: 0 0 55px;
	display: flex;
	
}
.box-item {
	width: 200px;
	height: 200px;
	line-height: 200px;
	vertical-align: middle;
	margin: 5px;
	background-color: blueviolet;
	font-size: 48px;
	color: white;
	text-align: center;
}
.item-tall {
	height: 400px;
	line-height: 400px;
}
.box-1 {
	flex-direction: row;
}
.box-2{
	flex-direction: row;
	/*flex-wrap: nowrap ;*/
	flex-wrap:wrap;
}
.box-3{
	flex-direction: row; 
	/*justify-content:flex-end;右对齐*/
	/*justify-content: center;*/
	/*justify-content: space-between;*/
	justify-content: space-around;
	
}
/*align-items属性*/
.box-4{
	align-items: flex-end;
}
.box-tall {
	height: 800px;
}
.box-5 {
	flex-wrap: wrap;
	/*align-items: flex-start;*/
	align-items: center;
}
.box-6 .order{
	order: -1;
}
.box_1{
	flex-grow:1;
}
.box_2{
	flex-grow:2;
}
.box_3{
	flex-grow:3;
}
.box-7 .box-item {
	width: 400px;
}
.box_4{
	
	flex-shrink: 0;
}

.box-8 .box-item {
	width: 200px;
}
.box-9{
	height: 400px;
}
.box_on{
	align-self:center;
}
